.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
DigitRecog.nb.html
DigitRecog_cache
DigitRecog_files
DigitRecognizer.Rproj
benchmarkWMT.nb.html
benchmarkWMT.rmd
featureselection.nb.html
featureselection.rmd
mathcad.xmcd
rsconnect
submission2_ann21.csv
submission3_ann21.csv
submission4_ann21.csv
submission5_ann21.csv
submission_ann21.csv
test.bmp
test.r
walshtransform.r
